
html {
  background-color: #fefccc;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -150px;
  width: 300px;
  height: 400px;
  border: 5px solid #ebd8ba;
  background-color: #fff;
  border-radius: 30px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}
header #timer {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  font-size: 40px;
  text-align: left;
}
header .team {
  position: absolute;
  top: 3px;
  font-size: 14px;
}
header .score {
  position: absolute;
  top: 16px;
  font-size: 26px;
}
header .left {
  left: 14px;
  text-align: left;
}
header .right {
  right: 14px;
  text-align: right;
}
header .turn {
  border-bottom: 2px solid black;
}

#phrase {
  display: table;
  position: absolute;
  left: 10px;
  top: 40%;
  margin-top: -70px;
  width: 270px;
  height: 140px;
}
#phrase p {
  display: table-cell;
  vertical-align: middle;
  font-size: 48px;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
#main-button {
  font-size: 24px;
}
#skip-button {
  font-size: 14px;
}
